1 24 "manifest.xml"
101 RCDATA "blank.ico"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,2,0,0
PRODUCTVERSION          1,2,0,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0x0L
FILEOS                  VOS_NT_WINDOWS32
FILETYPE                VFT_APP
FILESUBTYPE             VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // U.S. English, Unicode
        BEGIN
            VALUE "CompanyName",      "Alfahad Sheikh"
            VALUE "FileDescription",  "DeArrow CLI"
            VALUE "FileVersion",      "1.2.0.0"
            VALUE "InternalName",     "dearrow-cli-x64"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Alfahad Sheikh"
            VALUE "OriginalFilename", "dearrow-cli-x64.exe"
            VALUE "ProductName",      "DeArrow CLI"
            VALUE "ProductVersion",   "1.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
